#key{
            display: flex;
            flex-direction: row;
            color: white;
          
          }
        .c{
            margin-left:27%;
            color: red;
        }
       .f{
          height:25px;
          border: 1px solid black;
          width:49px;
          border-radius:10%;
          margin:5px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction:column;
          background-color: gray;
        }
        .nm{
          height:52px;
          border: 1px solid black;
          width:49.2px;
          border-radius:10%;
          margin:5px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction:column;
          background-color: gray;
        }
        .r1{
          height:52px;
          border: 1px solid black;
          width:52px;
          border-radius:10%;
          margin:5px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction:column;
          background-color: gray;
        }
        .bk{
          height:52px;
          border: 1px solid black;
          width:135px;
          border-radius:5%;
          margin:5px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction:column;
          background-color: gray;
        }
        .b{
          height:52px;
          border: 1px solid black;
          width:47px;
          border-radius:5%;
          margin:5px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction:column;
          background-color: gray;
        }
        
        .tb{
          height:52px;
          border: 1px solid black;
          width:91px;
          border-radius:5%;
          margin:5px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction:column;
          background-color: gray;
        }
        .s{
          height:52px;
          border: 1px solid black;
          width:90px;
          border-radius:5%;
          margin:5px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction:column;
          background-color: gray;
        }
        .cp{
          height:52px;
          border: 1px solid black;
          width:110px;
          border-radius:3%;
          margin:5px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction:column;
          background-color: gray;
        }
        .en{
          height:52px;
          border: 1px solid black;
          width:134px;
          border-radius:5%;
          margin:5px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction:column;
          background-color: gray;
        }
        .sh{
          height:52px;
          border: 1px solid black;
          width:140px;
          border-radius:3%;
          margin:5px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction:column;
          background-color: gray;
        }
        .sh2{
           height:52px;
          border: 1px solid black;
          width:167px;
          border-radius:3%;
          margin:5px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction:column; 
          background-color: gray;
        }
        .ct{
          height:52px;
          border: 1px solid black;
          width:59px;
          border-radius:5%;
          margin:5px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction:column;
          background-color: gray;
        }
        .sp{
          height:52px;
          border: 1px solid black;
          width:330px;
          border-radius:3%;
          margin:5px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction:column;
          background-color: gray;
        }
        .z{
          height:52px;
          border: 1px solid black;
          width:110px;
          border-radius:5%;
          margin:5px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction:column;
          background-color: gray;
        }
        .f1{
          height:22px;
          border: 1px solid black;
          width:49px;
          border-radius:10%;
          margin:5px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction:column;
          background-color: gray;
        }
        .i{
          height:110px;
          border: 1px solid black;
          width:49.2px;
          border-radius:10%;
          margin:5px;
          display:inline-block;
          align-items: center;
          justify-content: center;
          flex-direction:column;
          background-color: gray;
        }
        .n{
          height:52px;
          border: 1px solid black;
          width:49px;
          border-radius:10%;
          margin:5px;
          margin-top:10px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction:column;
          background-color: gray;
        }
        .r{
          height:117px;
          border: 1px solid black;
          width:49px;
          border-radius:10%;
          margin:5px;
          margin-top:10px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction:column;
          background-color: gray;
        }
        .o{
          height:115px;
          border: 1px solid black;
          width:49px;
          border-radius:10%;
          margin:5px;
          margin-top:10px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction:column;
          background-color: gray;
        }