body {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: rgb(116, 170, 170);

}

#navlink {
    display: flex;
    align-content: center;
    justify-content: space-around;
    width: 200px;
    list-style: none;
    padding: 10px;
}

footer {
    height: 80px;
    background-color: rgb(109, 129, 68);
    border: 1px solid red;
    text-align: center;
}

#carousel {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    margin: auto;
    margin-top: 4%;
    background-color: #a99f9f;
    border-radius: 10px;

}

#carousel>div {
    width: 45%;
    margin: auto;
}

#carousel>div>p {
    font-size: 100px;
    margin: auto;
    width: 40%;
}

.containers {
    display: flex;
    place-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
    gap: 20px;
    height: 250px;
}

.description-box {
    background-color: #e491db;
    color: #160101;
    padding: 20px;
    border: 1px solid #c33c96;
    ;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(155, 10, 155, 0.5);
    width: 300px;
    transition: transform 0.3s ease;
}

.description-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 16px rgba(228, 27, 191, 0.5);
}

.description-box h3 {
    color: #040000;
    margin-bottom: 10px;
}

.description-box p {
    font-size: 14px;
    line-height: 1.5;
}